
    
	body {
    font-family: 'Indie Flower', cursive;
    background: url(restaurant.jpg) no-repeat center center fixed; 
    /* background: url(../images/4204.jpg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

		
	 
